# dependencies
/node_modules/
/.pnp
.pnp.js

package-lock.json

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

posts/cmu_id_apple_wallet (august 2023)
posts/dragon_curves (november 2023)
posts/addressing_weakness (november 2023)